
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #c1d0d0;
  color: #000000;
}

/* Header */

header {
  background-color: #1e3a5f;
  color: white;
  text-align: center;
  padding: 30px;
}

/* Profile image */

header img {
  border-radius: 50%;
}

/* Links in header */

header a {
  color: #a8d8ff;
  text-decoration: none;
}

header a:hover {
  color: rgb(255, 227, 12);
  text-decoration: underline;
}

/* Navigation */

/* Navigation */

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15px;

  list-style: none;

  margin: 0;
  padding: 0;

  flex-wrap: wrap;
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  display: inline-block;

  color: white;
  text-decoration: none;

  padding: 9px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 10px;

  background: rgba(255, 255, 255, 0.08);

  transition: all 0.3s ease;
}

nav a:hover {
  color: white;

  background: linear-gradient(
    135deg,
    #00c6ff,
    #0072ff,
    #7b2ff7
  );

  border-color: white;

  transform: translateY(-4px);

  box-shadow:
    0 5px 15px rgba(0, 114, 255, 0.4),
    0 0 15px rgba(123, 47, 247, 0.5);
}


/* Mobile */

@media (max-width: 600px) {

  nav ul {
    flex-direction: row;
    justify-content: center;
  }

}
/* Main content */

main {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

/* Headings */

h2,
h3 {
  color: #1e3a5f;
}

/* Skills */

#skills + ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}

#skills + ul li {
  background-color: white;
  padding: 10px 15px;
  border-radius: 50px;
  border: 0.5px solid #1b1919;
}

/* Projects */

.project {
  background-color: white;
  padding: 15px;
  margin: 15px 10px;
  border-left: 5px solid #1e3a5f;
  border-radius: 35px;
}

/* Form */

form {
  background-color: white;
  padding: 20px;
  border-radius: 35px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #1e3a5f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #162d4a;
}

/* Footer */

footer {
  background-color: #1e3a5f;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}
/* Works when the browser becomes small */

@media (max-width: 600px) {

  header {
    padding: 20px 10px;
  }

  header h1 {
    font-size: 25px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  main {
    padding: 15px;
    margin: 10px auto;
  }

  #skills + ul {
    flex-direction: column;
  }
}
